
<h1>The winter is coming...</h1>
<% var cont = 0;%>
<%for(var question of questions){%>
			<%cont ++;%>
			<div id="div<%=cont%>" hidden><%=question.question%>
			<%if(question.media != null){%>
					<br/><img src='images/houseBanners/<%=question.media%>' width='100' height='100'/>
			<%}%>
					<br/><span><%=question.answer1%></span>
					<br/><span><%=question.answer2%></span>
					<br/><span><%=question.answer3%></span>
					<br/><span><%=question.answer4%></span>
					<input type='hidden' value='<%=question.correctAnswer%>'/>
			</div>
<%}%>
<script>

		$(document).on('click', 'span', (ev) => {
				var answerUsu = $(ev.target).html();
	 			var correctAnswer = $(ev.target).siblings().last().val();
				console.log(answerUsu +" "+ correctAnswer);
				if (answerUsu === correctAnswer){
					$(ev.target).attr("style","background-color:#11D542;");//probar cuando se muestre en vista
				}
				else{
					$(ev.target).attr("style","background-color:#E41D1D;");
				}
		});

		$(document).ready(() => {
			$('#div1').removeAttr('hidden');
			var n = 2;
			setInterval( () => {
						if(n < 11){ //cambiar a 11 cuando mande las 10 preguntas solamente
							var m = n-1;
							var selectorFirst = "#div" + n;
							var selectorSecond = "#div" + m;
							$(selectorFirst).removeAttr('hidden');
							$(selectorSecond).attr("hidden","hidden");
						}
						else{
								$("#div15").html("<h2>El juego termino...</h2>  Obtuviste    aciertos");
								clearInterval(this);
						}
						n ++;
			},5000,n);
		});

</script>
